* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url(../images/baggrund.jpg);
    background-size: 100%;
}


/* ====================================
Bokse og streger start
==================================== */
.year {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#vandret-1 {
    width: 15%;
    position: absolute;
    top: 33.5%;
    left: 4.8%;
}

#lodret-1 {
    width: 1%;
    position: absolute;
    top: 34%;
    left: 4.8%;
}

#vandret-2 {
    width: 18%;
    position: absolute;
    top: 141%;
    left: 4.8%;
}

#box2{
    width: 30%;
    position: absolute;
    top: 131%;
    left: 19%;
}

#vandret-3{
    width: 42%;
    position: absolute;
    top: 141%;
    left: 44%;
}

#vandret-4{
    width: 15%;
    position: absolute;
    top: 141%;
    left: 74%;
}

#lodret-2 {
    width: 1%;
    position: absolute;
    top: 141%;
    left: 88.9%;
}

#vandret-5{
    width: 18%;
    position: absolute;
    top: 229.5%;
    left: 71.6%;
}

#box3{
    width: 30%;
    position: absolute;
    top: 219%;
    left: 46.5%;
}

#vandret-6{
    width: 45%;
    position: absolute;
    top: 229.5%;
    left: 5.5%;
}

#lodret-3 {
    width: 1%;
    position: absolute;
    top: 229.5%;
    left: 5%;
}

#vandret-7 {
    width: 18%;
    position: absolute;
    top: 318%;
    left: 5%;
}

#box4{
    width: 30%;
    position: absolute;
    top: 308%;
    left: 19.5%;
}

#vandret-8{
    width: 45%;
    position: absolute;
    top: 318%;
    left: 45%;
}

#lodret-4 {
    width: 1%;
    position: absolute;
    top: 318%;
    left: 89%;
}

#vandret-9{
    width: 18%;
    position: absolute;
    top: 406.5%;
    left: 72%;
}
/* ====================================
Bokse og streger slut
==================================== */

/* ====================================
Historie tekst start
==================================== */

.tekst-1{
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: -40%;
}

.tekst-1 p{
    color: white;
}

.tekst-2{
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: -20%;
}

.tekst-2 p{
    color: white;
}

.tekst-3{
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: 45%;
}

.tekst-3 p{
    color: white;
}

.tekst-4{
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: 30%;
}

.tekst-4 p{
    color: white;
}

/* ====================================
Historie tekst slut
==================================== */

/* ====================================
Historie billeder start
==================================== */

.billede-4{
    margin-top: -55%;
}

/* ====================================
Historie billeder slut
==================================== */
