* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/baggrund2.jpg);
    background-size: 100%;
}

/* ====================================
Nav start
==================================== */

header {
    width: 100%;
    padding: 0 5%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 2%
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}

#logo img {
    width: 100%;
    margin-top: 20%;
}

#logo,
#main-nav a {
    color: white;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

/* ====================================
Nav slut
==================================== */

/* ====================================
Te-viden start
==================================== */

h2 {
    color: white;
    display: block;
    position: relative;
    margin-left: 32%;
    width: 30%;
    margin-top: 15%;
    text-align: center;
    font-family: 'Lobster', cursive;
    top: 10vw;
    font-size: 40px;
}

#te-viden-tekst-1 {
    color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 20%;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#te-viden-billede {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40%;
    z-index: -1;
    width: 100%;
}

#te-viden-boks {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75%;
    width: 60%;
    box-shadow: 5px 1px 20px 1px;
}

#te-pose {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: -40%;
    margin-left: 42%;
}

h3 {
    color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    margin-top: 20%;
    text-align: center;
    font-family: 'Lobster', cursive;
}

ol {
    color: white;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20%;
    margin-bottom: 40%;
}

ol li {
    font-family: 'Playfair Display', serif;
}

/* ====================================
Te-viden slut
==================================== */

/* ====================================
Historie start
==================================== */

#box1 {
    width: 70%;
    display: block;
    margin: 0 auto;
}

#line-break {
    position: absolute;
    border-bottom: 1px solid white;
    width: 250px;
    margin-top: -140%;
    margin-left: 16%
}

#tekst-1 {
    color: white;
    margin: 5% 10%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

#billede-1 {
    width: 100%;
    position: absolute;
    margin-top: 5%;
    z-index: -1;
}

#vandret-1 {
    width: 12%;
    position: absolute;
    margin-top: -50%;
    margin-left: 5%;
}

#lodret-1 {
    width: 1%;
    position: absolute;
    margin-top: -50%;
    margin-left: 5%;
}

#vandret-2 {
    width: 20%;
    position: absolute;
    margin-top: 140%;
    margin-left: 5%;
}

#box2 {
    width: 25%;
    display: block;
    margin-left: 24%;
    margin-top: 123%;
}

#vandret-3 {
    width: 40%;
    position: absolute;
    margin-top: -15%;
    margin-left: 49%;
}

#lodret-2 {
    width: 1%;
    position: absolute;
    margin-left: 89%;
    margin-top: -15%;
}

#tekst-2 {
    color: white;
    margin: 5% 15% 0 10%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

#billede-2 {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 50%;
}

#vandret-5 {
    width: 20%;
    position: absolute;
    margin-top: 142%;
    margin-left: 70%;
}

#box3 {
    width: 25%;
    display: block;
    margin-left: 45%;
    margin-top: 124%;
}

#vandret-6 {
    width: 38%;
    position: absolute;
    margin-left: 7%;
    margin-top: -15%;
}

#lodret-3 {
    width: 1%;
    position: absolute;
    margin-left: 7%;
    margin-top: -15%;
}

#tekst-3 {
    color: white;
    margin: 5% 5% 0 12%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

#billede-3 {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 40%;
}

#vandret-7 {
    width: 20%;
    position: absolute;
    margin-top: 142%;
    margin-left: 7%;
}

#box4 {
    width: 23%;
    display: block;
    margin-left: 26%;
    margin-top: 127%;
}

#vandret-8 {
    width: 41%;
    position: absolute;
    margin-left: 49%;
    margin-top: -15%;
}

#lodret-4 {
    width: 1%;
    position: absolute;
    margin-left: 89%;
    margin-top: -15%;
}

#tekst-4 {
    color: white;
    margin: 5% 15% 0 10%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

#billede-4 {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -20%;
}

#vandret-9 {
    width: 20%;
    position: absolute;
    margin-top: 142%;
    margin-left: 70%;
}

#box5 {
    width: 23%;
    display: block;
    margin-left: 47%;
    margin-top: 127%;
}

#vandret-10 {
    width: 41%;
    position: absolute;
    margin-left: 7%;
    margin-top: -15%;
}

#lodret-5 {
    width: 1%;
    position: absolute;
    margin-left: 7%;
    margin-top: -15%;
}

#tekst-5 {
    color: white;
    margin: 5% 5% 0 12%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

#billede-5 {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 30%;
}

#vandret-11 {
    width: 20%;
    position: absolute;
    margin-top: 142%;
    margin-left: 7%;
}

#box6 {
    width: 23%;
    display: block;
    margin-left: 26%;
    margin-top: 127%;
}

#vandret-12 {
    width: 41%;
    position: absolute;
    margin-left: 49%;
    margin-top: -15%;
}

#lodret-6 {
    width: 1%;
    position: absolute;
    margin-left: 89%;
    margin-top: -15%;
}

#tekst-6 {
    color: white;
    margin: 5% 15% 0 10%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

#billede-6 {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -15%;
}

#vandret-13 {
    width: 13%;
    position: absolute;
    margin-top: 142%;
    margin-left: 77%;
}

#box7 {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 127%;
}

#tekst-7 {
    color: white;
    margin: 5% 10%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

#billede-7 {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 50%;
}

/* ====================================
Historie slut
==================================== */

/* ====================================
Fairtrade start
==================================== */

#fairtrade-tekst-box {
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 127%;
}

#blue-vandret {
    width: 12%;
    position: absolute;
    margin-left: 9%;
    margin-top: -20%;
}

#blue-lodret {
    width: 1.5%;
    position: absolute;
    margin-left: 9%;
    margin-top: -20%;
}

#tekst-8 {
    color: white;
    margin: 15% 10% 0 20%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

#fairtrade-billede {
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: -20%;
}

#blue-vandret-2 {
    width: 30%;
    position: absolute;
    margin-left: 9%;
    margin-top: 197%;
}

#blue-box {
    width: 50%;
    position: absolute;
    margin-left: 39%;
    margin-top: 150%;
}

#tekst-9 {
    color: white;
    margin: 155% 10% 0 45%;
    position: absolute;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
}

/* ====================================
Fairtrade slut
==================================== */

/* ====================================
Butik start
==================================== */

#line-break-1 {
    position: absolute;
    border-bottom: 1px solid white;
    width: 250px;
    margin-top: -36%;
    margin-left: 16%
}

#butik-overskrift {
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 240%;
    margin-bottom: 10%;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

.butik-boks {
    display: block;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 1px 20px 1px;
    border-radius: 10px 10px;
}

#produkt {
    width: 100%;
    box-shadow: 5px 1px 20px 1px;
    border-radius: 10px 10px 0 0;
}

#antal {
    display: block;
    margin: 0 auto;
    width: 45%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.pris {
    display: flex;
    justify-content: space-around;
    color: black;
}

.pris p {
    width: auto;
    padding-top: 5%;
    font-family: 'Playfair Display', serif;
}

.pris-2 {
    display: flex;
    justify-content: space-around;
    color: white;
}

.pris-2 p {
    width: auto;
    padding-top: 8%;
    font-family: 'Playfair Display', serif;
}

.fragt {
    display: flex;
    justify-content: space-around;
    color: white;
}

.fragt p {
    width: auto;
    font-family: 'Playfair Display', serif;
    padding-bottom: 4%;
}

#line-break-2 {
    border-bottom: 1px solid white;
    width: 250px;
    margin: 0 auto;
}

.total {
    display: flex;
    justify-content: space-around;
    color: white;
}

.total p {
    width: auto;
    font-family: 'Playfair Display', serif;
    padding-top: 3%;
}

.betaling {
    display: block;
    margin: 10% auto;
    width: 70%;
    background-color: rgba(0, 176, 235, 0.7);
    text-align: center;
    padding: 5% 0;
    color: white;
    font-size: 25px;
    border-radius: 10px 10px;
    box-shadow: 5px 1px 20px 1px black;
    font-family: 'Playfair Display', serif;
}


/* ====================================
Butik slut
==================================== */

/* ====================================
Footer start
==================================== */

footer {
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 5px 1px 20px 1px black;
}

footer p {
    font-family: 'Playfair Display', serif;
}

#devider {
    display: block;
    margin: 0 auto;
    height: 2px;
    width: 70%;
    background-color: white;
    margin-bottom: 5%;
    margin-top: 5%;
}

#sociale-medier {
    width: 45%;
    margin-top: 5%;
}

/* ====================================
Footer slut
==================================== */

@media all and (max-width: 599px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
        color: white;
        margin-left: 80%;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }
}

/* ====================================
MEDIA QUERY MOBILE SLUT
==================================== */

/* ====================================
MEDIA QUERY TABLET START
==================================== */

@media all and (min-width: 600px) {

    /*HEADER NAV*/
    header {
        display: flex;
        justify-content: space-between;
        /*remove this if you do not want the column layout whit logo above menu for medium size screens*/
    }

    #logo-burger {
        margin: 0;

    }

    #logo {
        width: 50%
    }

    #main-nav {
        justify-content: space-between;
        width: 100%;
        margin: 0;
        font-size: 150%;
        margin-top: 6%;
        
    }

    #main-nav a {
        margin: 0 .5em;
    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }

    /*TE-VIDEN*/

    h2 {
        font-size: 70px;
    }

    #te-viden-tekst-1 {
        font-size: 30px;
    }

    h3 {
        font-size: 35px;
    }

    ol {
        margin-left: 20%;
    }

    ol li {
        font-size: 30px;
    }

    /*HISTORIE*/

    #box1 {
        width: 60%;
    }

    #line-break {
        border-bottom: 3px solid white;
        width: 500px;
        margin-top: -110%;
    }

    #tekst-1 {
        font-size: 30px;
    }

    #vandret-1 {
        width: 18%;
    }

    #tekst-2 {
        font-size: 30px;
    }

    #tekst-3 {
        font-size: 30px;
    }

    #tekst-4 {
        font-size: 30px;
    }

    #tekst-5 {
        font-size: 30px;
    }

    #tekst-6 {
        font-size: 30px;
    }

    #tekst-7 {
        font-size: 30px;
    }

    /*FAIRTRADE*/

    #fairtrade-tekst-box {
        width: 60%;
    }

    #blue-vandret {
        width: 16%;
    }

    #tekst-8 {
        font-size: 30px;
    }

    #blue-box {
        width: 50%;
    }

    #tekst-9 {
        margin: 152% 17% 0 43%;
        font-size: 30px;
    }

    /*BUTIK*/

    #line-break-1 {
        border-bottom: 3px solid white;
        width: 500px;
    }

    #butik-overskrift {
        font-size: 100px;
    }

    .butik-boks {
        width: 60%;
    }

    #antal {
        width: 35%;
    }

    .pris p {
        font-size: 30px;
    }

    .pris-2 p {
        font-size: 30px;
    }

    .fragt p {
        font-size: 30px;
    }

    #line-break-2 {
        border-bottom: 3px solid white;
        width: 500px;
    }

    .total p {
        font-size: 30px;
    }

    .betaling {
        font-size: 30px
    }

    /*FOOTER*/

    footer p {
        font-size: 25px;
    }

    #sociale-medier {
        width: 30%;
    }
}
