* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url(../images/baggrund.jpg);
    background-size: 100%;
}

/* ====================================
Bokse og streger start
==================================== */
.year {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#vandret-1 {
    width: 15%;
    display: block;
    margin-top: -55%;
    margin-left: 4.8%;
}

#lodret-1 {
    width: 1%;
    display: block;
    margin-left: 4.8%;
}

#vandret-2 {
    width: 18%;
    position: absolute;
    top: 255vw;
    margin-left: 4.8%;
}

#box2{
    width: 30%;
    position: absolute;
    top: 237vw;
    left: 19vw;
    
}

#vandret-3{
    width: 42%;
    position: absolute;
    top: 255vw;
    left: 44%;
}

#vandret-4{
    width: 15%;
    position: absolute;
    top: 255vw;
    left: 74%;
}

#lodret-2 {
    width: 1%;
    position: absolute;
    top: 255vw;
    left: 88.9%;
}

#vandret-5{
    width: 18%;
    position: absolute;
    top: 412vw;
    left: 71.5%;
}

#box3{
    width: 30%;
    position: absolute;
    top: 394vw;
    left: 46.5%;
}

#vandret-6{
    width: 45%;
    position: absolute;
    top: 412vw;
    left: 5.5%;
}

#lodret-3 {
    width: 1%;
    position: absolute;
    top: 412vw;
    left: 5%;
}

#vandret-7 {
    width: 18%;
    position: absolute;
    top: 569vw;
    left: 5%;
}

#box4{
    width: 30%;
    position: absolute;
    top: 550vw;
    left: 19.5%;
}

#vandret-8{
    width: 45%;
    position: absolute;
    top: 569vw;
    left: 45%;
}

#lodret-4 {
    width: 1%;
    position: absolute;
    top: 569vw;
    left: 89%;
}

#vandret-9{
    width: 18%;
    position: absolute;
    top: 727vw;
    left: 72%;
}

#box5{
    width: 30%;
    position: absolute;
    top: 709vw;
    left: 46%;
}

#vandret-10{
    width: 41%;
    position: absolute;
    top: 727vw;
    left: 8.5%;
}

#lodret-5 {
    width: 1%;
    position: absolute;
    top: 727vw;
    left: 8.5%;
}

#vandret-11{
    width: 18%;
    position: absolute;
    top: 884vw;
    left: 8.5%;
}

#box6{
    width: 30%;
    position: absolute;
    top: 866vw;
    left: 23%;
}

#vandret-12{
    width: 41%;
    position: absolute;
    top: 884vw;
    left: 48.5%;
}

#lodret-6 {
    width: 1%;
    position: absolute;
    top: 884vw;
    left: 89%;
}

#box7{
    width: 80%;
    position: absolute;
    top: 1010vw;
    left: 10%
}

#vandret-13{
    width: 9%;
    position: absolute;
    top: 1041.5vw;
    left: 81%;
}

#blue-vandret{
    width: 8%;
    position: absolute;
    top: 1310vw;
    left: 10.6%
}

#blue-lodret{
    width: 1%;
    position: absolute;
    top: 1310vw;
    left: 10.6%
}

#blue-vandret-2{
    width: 20%;
    position: absolute;
    top: 1454vw;
    left: 10.6%
}

#blue-box{
    width: 50%;
    position: absolute;
    top: 1435vw;
    left: 30%
}
/* ====================================
Bokse og streger slut
==================================== */

/* ====================================
Historie tekst start
==================================== */

.tekst-1{
    position: absolute;
    width: 70%;
    top: 125vw;
    margin-left: 20%;
}

.tekst-1 p{
    color: white;
}

.tekst-2{
    position: absolute;
    width: 70%;
    top: 280vw;
    margin-left: 12%;
}

.tekst-2 p{
    color: white;
}

.tekst-3{
    position: absolute;
    width: 70%;
    top: 435vw;
    left: 20vw
}

.tekst-3 p{
    color: white;
}

.tekst-4{
    position: absolute;
    width: 70%;
    top: 590vw;
    left: 12vw;
}

.tekst-4 p{
    color: white;
}

.tekst-5{
    position: absolute;
    width: 70%;
    top: 750vw;
    left: 20vw;
}

.tekst-5 p{
    color: white;
}

.tekst-6{
    position: absolute;
    width: 70%;
    top: 905vw;
    left: 12vw;
}

.tekst-6 p{
    color: white;
}

.tekst-7{
    position: absolute;
    width: 70%;
    top: 1120vw;
    left: 15vw;
}

.tekst-7 p{
    color: white;
}

/* ====================================
Historie tekst slut
==================================== */

/* ====================================
Historie billeder start
==================================== */
#billede-1{
    position: absolute;
    top: 120vw;
    z-index: -1;
}

#billede-2{
    position: absolute;
    top: 315vw;
    z-index: -1;
}

#billede-3{
    position: absolute;
    top: 460vw;
    z-index: -1;
}

#billede-4{
    position: absolute;
    top: 568vw;
}

#billede-5{
    position: absolute;
    top: 765vw;
}

#billede-6{
    position: absolute;
    top: 865vw;
}

#billede-7{
    position: absolute;
    top: 1160vw;
}

/* ====================================
Historie billeder slut
==================================== */

/* ====================================
Fairtrade tekst start
==================================== */

.tekst-8{
    position: absolute;
    width: 70%;
    margin: 0 auto;
    top: 1350vw;
    left: 20vw;
}

.tekst-8 p{
    color: white;
}

.tekst-9{
    position: absolute;
    width: 45%;
    margin-left: 33%;
    top: 1450vw;
}

.tekst-9 p{
    color: white;
}

/* ====================================
Fairtrade tekst slut
==================================== */

/* ====================================
Fairtrade billeder start
==================================== */

#fairtrade-tekst-box{
    position: absolute;
    width: 75%;
    top: 1240vw;
    left: 12vw;
}

#fairtrade-billede{
    position: absolute;
    top: 1290vw;
    z-index: -1;
}

/* ====================================
Fairtrade billeder slut
==================================== */

/* ====================================
Butik billeder start
==================================== */

#butik-overskrift{
    position: absolute;
    width: 40%;
    top: 1530vw;
    left: 30vw;
}

/* ====================================
Butik billeder slut
==================================== */